<!DOCTYPE html>
<html>
  <body>
    <h2>Order Delivered Successfully ✅</h2>
    <p>
      Hi <%= name %>, your order <strong>#<%= orderId %></strong> has been
      delivered.
    </p>
    <p>We hope everything was fresh and on time. Enjoy your groceries!</p>
    <p>Thanks for shopping with Zip Grocer 🛒</p>
  </body>
</html>
