<!DOCTYPE html>
<html>
  <body style="font-family: Arial, sans-serif">
    <h2>Welcome to Zip Grocer, <%= name %> 👋</h2>
    <p>
      We’re excited to have you! You can now shop groceries, track orders, and
      enjoy fast delivery 🚚
    </p>
    <p>Let’s get started!</p>
  </body>
</html>
